# Arithmetic Operators

We will cover all the arithmetic operators which will allow you to manipulate data

In [1]:
x = 10
y = 10

In [2]:
x + y # Addition

20

In [3]:
x - y # Subtraction

0

In [4]:
x * y # Multiplication

100

In [5]:
x / y # Division

1.0

In [6]:
x % y # Modulus (finds the remainder of the division, zero in this example of 10 % 10)

0

In [7]:
9 % 10 # Change these values and you can see different results

9

In [8]:
x // y # Floor Division (rounds down to the nearest integer)

1

In [9]:
25 // 10 # normal division would give a float of 2.5, floor divison give you 2

2

Using both Modulus (%) and Floor Divison (//) allows you to seperate out the full integer of divison and the remained

In [10]:
x ** y # Exponentiation 10 to the power of 10

10000000000

In [11]:
2 ** 8 # Example of 2 to the power of 8

256

# Assignment Operators

In [12]:
# you will have seen this assignment operators already and in the previous tutorial
z = 10

You can simplify your code using assignment operators.

In [13]:
z += 1 # when you are assigning the value of z jupyter will not out put the value
z

11

In [14]:
z = z + 1 # the same as z += 1
z

12

In [15]:
z -= 1
z

11

In [16]:
z = z - 1 # the same as z -= 1
z

10

In [17]:
z *= 10
z

100

In [18]:
z = z * 10 # the same as z *= 10
z

1000

In [19]:
z /= 10
z

100.0

In [20]:
z = z / 10 # the same as z /= 10
z

10.0

In [21]:
z //= 10
z

1.0

In [22]:
z = z // 10
z

0.0

In [23]:
z = 10

In [24]:
z **= 10
z

10000000000

In [25]:
z = z ** 10
z

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

# Comparison Operators

How do you compare values? Using these operators

In [26]:
# Setting up Values
x = 10
y = 10

In [29]:
# Equal == 
x == y
# Are these values the same?

True

In [31]:
10 == 11

False

In [32]:
# Not Equal
x != y 
# Are these values different?

False

In [33]:
10 != 11

True

In [34]:
# Greater than
x > y

False

In [35]:
11 > 10

True

In [36]:
# Less than
x < y

False

In [37]:
10 < 11

True

In [38]:
# Greater than or equal to
x >= y

True

In [40]:
20 >= 12

True

In [41]:
x >= 5

True

In [42]:
# Less than or equal to
x <= y

True

In [43]:
10 <= 11

True

In [44]:
x <= 5

False

# Logical Operators

How to join multiple comparisons together.

In [45]:
x = 10 
y = 10


x > 10 and y < 20 # What will be the result?

False

#### 10 > 10 and 10 < 20

First comparison is False and second is True. Using the boolean logic of AND, both parts need to be True to return a True result.

In [46]:
20 > 10 and 10 < 20 # This example has both True values

True

Below are the boolean logic table for AND, OR and NOT

<center>AND Table</center>


 | A | B | Result |
 | ------------- |:-------------:| -----:|
 | False | False | False | 
 | True | False | False |
 | False | True | False |
 | True | True | True |
 
 <center>OR Table</center>


 | A | B | Result |
 | ------------- |:-------------:| -----:|
 | False | False | False | 
 | True | False | True |
 | False | True | True |
 | True | True | True |
 
 <center>NOT Table</center>


 | A | Result |
 | ------------- | -----:|
 | False | True 
 | True | False

In [47]:
x > 10 or y < 20 # What will be the result?

True

In [48]:
10 > 10 or 10 < 20

True

In [49]:
not(x > 10 and x > 10) # What will the be the result?

True

### AND is used for when you want to return True, if ALL values are True.

### OR is used for when you want to return True, if one value is True.

### NOT is used to reverse the result.

remember that you can chain these all together using brackets, just like it mathematics. BODMAS (Brackets First, Order, Divison and Multiplication, Addition and Subtraction)

In [50]:
(20 > 10 and 10 < 15) or not( ( (4*2)+2 ) == 10)

True

# Membership Operators

Allows you to check to see if values are in datasets (lists) or values are the same object

In [51]:
# How to find out if a variable is in a list

a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [52]:
1 in a
#value in list

True

In [53]:
0 in a

False

In [54]:
1 not in a

False

In [55]:
0 not in a

True

In [ ]:
# How to find out if a 2 variables are the same object

In [57]:
a = [1,2,3,4,5]
b = [1,2,3,4,5]
c = a

In [61]:
a is b

False

In [59]:
a is c

True

In [60]:
a == b # == Equal comparison operator see they are the same list but it won't tell you they are different objects.

True

# If Statements

If statements will allow you to control the flow of your program using logical operators

In [71]:
x = 10

if x == 10:# if statements must end with a colon, to indicate to python there is if statement block of code continuing
    print("X equals 10")

X equals 10
no longer in if statement

If statements blocks can also have a catch all which is called else. If the logic doesn't equal True in the if statement, it will default to the code in the else: block

In [65]:
if x != 10:
    print("X does not equal 10")
else:
    print("X must equal 10 then!")

X must equal 10 then!

You can also check to see if the value matches another criteria by using elif, meaning else if.

In [70]:
y = 10

if y > 10:
    print("y is greater than 10")
elif y < 10:
    print("y is less than 10")
else: 
    print("y must equal 10 then!")

y must equal 10 then!

Sometimes you will see if statements written in one line like this but I would not do that as it does not allow other user to easily read your code. Just be aware other people may do this.

In [74]:
y = 10

print("y is greater than 10") if y > 10 else print("y is less than 10") if y < 10 else print("y must equal 10 then!")

y must equal 10 then!

You can use if statements inside if statements which are called nested if's, allowing you even greater control of your program

In [83]:
z = 900

if z >= 10:
    
    if z < 1000:
                
        if z > 100:            
            print(z)
        else:
            print("Z is beterween 10 and 100")
            
    else:
        print("Z is greater than 999")   
        
else:
    print("Z is less than 10")

900

In [84]:
z = 900

if z < 10:
    print("Z is less than 10")
elif z >= 1000:
    print("Z is greater than 999")
elif z >= 10 and z <= 100:
    print("Z is beterween 10 and 100")
else:
    print(z)

900

The above code shows you can use nested if's or elif with logic operators to create the same program control.

# Functions

Functions allow you to not repeat code and only runs when it is called. You can pass data into functions and return data from functions.

Python has some already built in but you can create your own!

https://docs.python.org/3/library/functions.html - Python Built in Functions

In [85]:
abs(-10)

10

In [86]:
int(10.79)

10

In [87]:
input("Enter your Name here: ")

Enter your Name here:  John

'John'

In [88]:
len("12345")

5

In [89]:
sum([1,2,3])

6

In [90]:
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

The above lines show you how to call a function and that you can pass data into the functions and return data.

Creating your own function is shown below. Remember you cannot name your functions starting with numbers, special characters. Try and make the name meaningful as possible but not too long.

In [91]:
def function_name(Arguments_Go_here):
    # Your Code Goes Here
    
    
    
    
    
    return Your_Data

In [93]:
def double_print(user_input):
    print(user_input*2)

double_print("hello world")

hello worldhello world

In [96]:
def print_two_inputs(user_input_one , user_input_two):
    print(user_input_one, user_input_two)
    
print_two_inputs(20, 10)

20 10

In [97]:
def print_unknown_number_of_values(*unknown_number_of_values):
    print(unknown_number_of_values)
    
print_unknown_number_of_values([1,2],[3,4],"Hello")

([1, 2], [3, 4], 'Hello')

To return information from a function, you have to finish the function with the word return and then the variable you wish to output.

In [102]:
def square_numbers(number):
    result = number ** 2
    return result

square_numbers(2)

4

In [104]:
def square_numbers_simple(number):
    return number ** 4

square_numbers_simple(2)

8

Returning data from functions allows you to assign values to variables from functions

In [99]:
def square_numbers_simple(number):
    return number ** 2

q = square_numbers_simple(10)

In [100]:
q

100

Arguments passed into functions can have defaults if nothing is passed.

In [106]:
def square_numbers_simple(number=100):
    return number ** 2

square_numbers_simple(2)

4

In [111]:
def number_to_the_power(number, power_number=2):
    return number ** power_number

w = number_to_the_power(3)

In [112]:
w

9

Any variables created or altered within a function will not be "saved" in the rest of your program, the only data which leaves the function is the data after the word return.

In [113]:
c = 1
print(f"C Value outside function: {c}")

def a_b_not_c(a,b):
    c = 10
    print(f"C Value inside function: {c}")
    return a*b*c

a_b_not_c(1,1)
print(f"C Value outside function: {c}")

C Value outside function: 1
C Value inside function: 10
C Value outside function: 1

Also please be aware functions from Classes can also be called using a dot (.) and brackets at the end. Classes are something we will cover another day but just in case you see any code with the below then remember its just another way to call a class.

In [114]:
string = "Hello, World!"
string.lower()

'hello, world!'

In [115]:
string.upper()

'HELLO, WORLD!'

In [116]:
number_list = [1,2,3,4]
number_list.append(5)

In [117]:
number_list

[1, 2, 3, 4, 5]

### Below is a little example of what you can do with everything you've learned today.

In [121]:
def length_conversion(length, orig_unit, new_unit):
    
    # Convert all lengths from orig_unit to millimetre
    if orig_unit == "mm":
        length = length
    elif orig_unit == "cm":
        length /= 0.1
    elif orig_unit == "inch":
        length /= 0.0393701
    elif orig_unit == "m":
        length /= 0.001
    elif orig_unit == "km":
        length /= 1e-6
    else:
        raise Exception ("Please enter either mm, cm, inch, m, km in the orig_unit. Program terminated") # This just stops the program as you have not entered a correct string value into orig_unit

    
    # Convert new millimetre length to new_unit
    if new_unit == "mm":
        length = length
    elif new_unit == "cm":
        length *= 0.1
    elif new_unit == "inch":
        length *= 0.0393701
    elif new_unit == "m":
        length *= 0.001
    elif new_unit == "km":
        length *= 1e-6
    else:
        raise Exception ("Please enter either mm, cm, inch, m, km in the new_unit. Program terminated") # This just stops the program as you have not entered a correct string value into new_unit
 


    return length

In [122]:
length_conversion(1,"cm","inch")

0.39370099999999997