## Pandas Continued

Today we will cover how to create new column, remove a column, join dataframes together then grouping and aggregating data.

In [ ]:
import pandas as pd

data_1 = {
    "first":["John","Mark","David","Peter","James"],
    "last":["Reilly","Boyle","Smith","Doe","Bond"],
    "email":["John.Reilly@strath.ac.uk","Mark.Boyle@MB.com","DavidSmith2020@Smith.co.uk", "PeterDoe@PeterDoe.com","JamesBond007@MI6.gov.uk"],
    "id":[1,2,3,4,5]
}

In [ ]:
df_1 = pd.DataFrame(data_1)
df_1

In [ ]:
data_2 = {
    "first":["Scott","Gary"],
    "last":["Reid", "Russell"],
    "email":["Scott.Reid@SR.com","GaryRussell@Gary.co.uk"],
    "id":[11,12]
}

In [ ]:
df_2 = pd.DataFrame(data_2)
df_2

To create a new column called "name" which takes the first and last name and join them together, you simply assign a new variable to the dataframe.

In [ ]:
df_1["name"] = df_1["first"] + " " + df_1["last"]
df_1

Lets remove the first and last columns

In [ ]:
df_1.drop(columns=["first","last"])
df_1

remember that doesn't save and you need to do inplace=True

In [ ]:
df_1.drop(columns=["first","last"], inplace=True)
df_1

lets replace the columns first and last using the new column name. We will be using the str method and the split method.

In [ ]:
df_1["name"].str.split(" ")

In pandas there is an argument called expand which takes this series of lists into seperate columns/dataframe. If you try to assign this series to the column pandas will raise an error as you are passing a series which isn't the same length as the columns.

In [ ]:
df_1["name"].str.split(" ",expand=True)

In [ ]:
df_1[["first","last"]] = df_1["name"].str.split(" ",expand=True)
df_1

In [ ]:
df_1.drop(columns=["name"], inplace=True)
df_1

If you want to add new data but you do not have enough data to match the number of columns, you can use append with the argument ignore_index=True. 

The data missing will be represented as NaN.

In [ ]:
df_1.append({"first":"Billy"})

In [ ]:
df_1.append({"first":"Billy"}, ignore_index=True)

Lets say you have 2 dataframe and you want to join them together, you can use the append method as well.

In [ ]:
df_1.append(df_2)

As you can see the index has now become non-unique which can cause issues when you are trying to sort or analyse the data. Just like above pass True to the argument of ignore_index and pandas will automatically auto-index to the df_1.

In [ ]:
df_1.append(df_2, ignore_index=True)

In [ ]:
df_1

Append does not have an inplace argument so to save the changes you have to assign it to a variable.

In [ ]:
df = df_1.append(df_2, ignore_index=True)
df

Let's see how to remove a row, we can use the drop method with the argument index. Remember to save the changes use inplace=True

In [ ]:
df.drop(index=6)

You might not always know the number you want to remove or you want to remove many rows based off of a filter. To use a filter simple create the filter and pass it into the index argument with the index property.

In [ ]:
df.drop(index=df[df["last"]== "Bond"].index)

How does that work? You use a filter to create a new dataframe and then use the index property which returns a list of the indexs in the new dataframe.

To make it clear, I would recommend moving the filter to a new line and pass it as an arguement.

In [ ]:
df[df["last"]== "Bond"]

In [ ]:
df[df["last"]== "Bond"].index

In [ ]:
filter_last = df[df["last"]== "Bond"]
df.drop(index=filter_last.index)

### Grouping and Aggregating

Now lets move onto grouping and aggregating our data, for these examples we are going to use the Glasgow_Weather.csv again.

In [ ]:
weather_df = pd.read_csv("Glasgow_Weather.csv",index_col="day")
weather_df

We have previously learnt how to find out how many rows each column has of data.

In [ ]:
weather_df.count()

If we want to find the break down of each column and the answer given we can use the method value_counts.

In [ ]:
weather_df["desc"].value_counts()

As you can see in the desc column there were 5 descriptions given and the number of times it was choosen next to it.

In [ ]:
weather_df["summary"].value_counts()

In [ ]:
weather_df["summary"].value_counts().head(20)

The percetange can be found by passing the value of True to the argument normalize.

In [ ]:
weather_df["desc"].value_counts(normalize=True)

As you can see rain was describe 47% of the time for this data set.

We can group our data by setting up a groupby object, in this example we are grouping our data by the desc column.

In [ ]:
weather_df.groupby(["desc"])

In [ ]:
desc_groupby = weather_df.groupby(["desc"])

In [ ]:
desc_groupby.get_group("clear-day")

As you can see this is the same as our filtering we have used previously. The power of groupby comes when you want to find the data on more than one desc.

Let's say we want to find value_counts of all the summary where the desc equals clear_day, we would need to type something quite long and difficult to read and only be able to show values of the single desc.

In [ ]:
weather_df.loc[weather_df["desc"] == "clear-day"]["summary"].value_counts()

Groupby allows you to do the above on all desc.

In [ ]:
desc_groupby["summary"].value_counts().head(60)

In [ ]:
desc_groupby["summary"].value_counts(normalize=True).head(60)

If you want only a single desc then use the loc method and pass the desc you want.

In [ ]:
desc_groupby["summary"].value_counts(normalize=False).loc["rain"]

In [ ]:
desc_groupby["summary"].value_counts(normalize=False).loc["fog"]

We can also use the methods we have already seen before like sum, max, min, median......

In [ ]:
desc_groupby["tempMax"].min()

In [ ]:
desc_groupby["tempMax"].max()

In [ ]:
desc_groupby["tempMax"].median()

We can also run all these functions at once and create a new dataframe with the results. This is done by using the agg method.

In [ ]:
desc_groupby["tempMax"].agg(["min","max","median","sum"])

In [ ]:
desc_groupby["tempMax"].agg(["min","max","median","sum"]).loc["fog"]

In [ ]:
desc_groupby.agg(["min","max","median","sum"])

In [ ]:
desc_groupby.agg(["min","max","median","sum"])[["tempMin","tempMax","cloudCover"]]